/* Micro Data */
.wpm_mcr_dat{
	display:none
}

/* Tab */

.wpm_tab_shd{
	padding:3px 0;
	margin-left:0;
	margin-top:1px;
	margin-bottom:0;
	font:bold 12px verdana;
	list-style-type:none;
	text-align:left;
}

.wpm_tab_shd li{
	display:inline;
	margin:0;
}

.wpm_tab_shd li a{
	text-decoration:none;
	position:relative;
	z-index:1;
	padding:3px 7px;
	margin-right:3px;
	border:1px solid #778;
	color:#2d2b2b;
	background:white url(../img/tab/shd.gif) top left repeat-x;
}

.wpm_tab_shd li a:visited{
	color:#2d2b2b;
}

.wpm_tab_shd li a:hover{
	text-decoration:underline;
	color:#2d2b2b;
}

.wpm_tab_shd li a.selected{
	position:relative;
	top:1px;
}

.wpm_tab_shd li a.selected{
	background-image:url(../img/tab/shd-atv.gif);
	border-bottom-color:white;
}

.wpm_tab_shd li a.selected:hover{
	text-decoration:none;
}

.wpm_tab_ctt{
	display:none;
}

@media print{
	.wpm_tab_ctt{
		display:block !important;
	}
}

.wpm_tab_pln{
	padding:3px 0 6px 0;
	margin:1px 0 4px 1px;
	list-style-type:none;
}

.wpm_tab_pln li{
	display:block;
	border-left:1px solid #cacaca;
	height:9px;
	line-height:9px;
	float:left
}

.wpm_tab_pln li:first-child{
	border-left:none;
}

.wpm_tab_pln li a{
	margin:0 6px
}

.wpm_tab_pln li:first-child a{
	margin-left:0px
}

.wpm_tab_pln li a.selected{
	font-weight:bold
}



/* Rating */

div.rating-cancel,
div.star-rating{
	float:left;
	width:17px;
	height:15px;
	text-indent:-999em;
	cursor:pointer;
	display:block;
	background:transparent;
	overflow:hidden
}

div.rating-cancel,
div.rating-cancel a{
	background:url(../img/rtg-ccl.gif) no-repeat 0 -16px
}

div.star-rating,
div.star-rating a{
	background:url(../img/rtg-sta.png) no-repeat 0 0px
}

div.rating-cancel a,
div.star-rating a{
	display:block;
	width:16px;
	height:100%;
	background-position:0 0px;
	border:0
}

div.star-rating-on a{
	background-position:0 -16px!important
}
div.star-rating-hover a{
	background-position:0 -32px
}

div.star-rating-readonly a{
	cursor:default !important
}

div.star-rating{
	background:transparent!important;
	overflow:hidden!important
}

.wpm_rtg{
	background:url(../img/rtg-sta.png) repeat-x 0 0px;
	width:84px;
	height:16px;
	cursor:pointer;
}

.wpm_rtg div{
	background:url(../img/rtg-sta.png) repeat-x 0 -16px;
	height:16px;
	width:0
}

.wpm_rtg i{
	display:none
}

.wpm_rtg .rtg_1{
	width:16px
}

.wpm_rtg .rtg_2{
	width:33px
}

.wpm_rtg .rtg_3{
	width:50px
}

.wpm_rtg .rtg_4{
	width:67px
}

.wpm_rtg .rtg_5{
	width:84px
}

/* Auto Suggest */

.wpm_ato_cpl{
	padding:0px;
	border:1px solid black;
	background-color:#333333;
	overflow:hidden;
	z-index:99999;
}

.wpm_ato_cpl ul{
	width:100%;
	list-style-position:outside;
	list-style:none;
	padding:0;
	margin:0;
}

.wpm_ato_cpl li{
	margin:0px;
	padding:2px 5px;
	cursor:default;
	display:block;
	font:menu;
	font-size:12px;
	line-height:16px;
	overflow:hidden;
}

.wpm_ato_cpl.mng_sch .row{
	height:36px;
	cursor:pointer
}

.wpm_ato_cpl.mng_sch .cvr{
	width:36px;
	height:36px;
	vertical-align:top;
	text-align:center;
	padding:0;
	overflow:hidden
}

.wpm_ato_cpl.mng_sch .cvr img{
	width:36px;
	height:36px;
	border:1px solid #cacaca;
}

.wpm_ato_cpl.mng_sch .det{
	padding:0 0 0 4px;
	vertical-align:top;
	color:#b0b0b0
}

.wpm_ato_cpl.mng_sch .det a{
	color:#fff;
	font-size:13px
}

.wpm_ato_cpl.mng_sch .ac_over .det a{
	color:#fff
}

.wpm_ato_cpl.mng_sch .det .ath{
	font-style:italic
}

.ac_loading{
	background:white url("../img/ajx-prg.gif") right center no-repeat;
}

.ac_odd{
	background-color:#2c2c2c;
}

.ac_over{
	background-color:#1f1f1f;
	color:#b0b0b0;
}


/* Slide Show */

.wpm_wgt.sld_shw .sld_hld{
	z-index:0;
	position:relative;
}

.wpm_wgt.sld_shw .sld_rnr{
	top:0;
	left:0;
	overflow:hidden;
	position:absolute;
}

.wpm_wgt.sld_shw .sld_hld img{
	margin:0;
	display:none;
	position:absolute;
}

.wpm_wgt.sld_shw .sld_hld p.sld_nav{
	float:right;
	height:24px;
	display:inline;
	margin:119px 3px 0 0;
	position:relative;
	z-index:0
}

.wpm_wgt.sld_shw .sld_hld p.sld_nav a{
	float:left;
	width:24px;
	height:24px;
	display:inline;
	font-size:11px;
	margin:0 5px 0 0;
	line-height:24px;
	font-weight:bold;
	text-align:center;
	text-decoration:none;
	background-position:0 0;
	background-repeat:no-repeat;
}

.wpm_wgt.sld_shw .sld_hld p.sld_nav a.sel{
	background-position:0 -24px;
	color:#fff
}

.wpm_wgt.sld_shw .sld_hld p.sld_nav a{
	background:url("../img/bg-sld-shw-num.png");
}

/* Tree View */

.treeview, .treeview ul{
	padding:0;
	margin:0;
	list-style:none;
}

.treeview ul{
	background-color:white;
	margin-top:4px;
}

.treeview .hitarea{
	background:url(../img/tre-viw/tgl.gif) -64px -25px no-repeat;
	height:16px;
	width:16px;
	margin-left:-16px !important;
	float:left;
	cursor:pointer;
}

* html .hitarea{
	display:inline;
	float:none;
}

.treeview li{
	margin:0;
	padding:3px 0pt 3px 16px  !important;
}

.treeview a.selected{
	background-color:#eee;
}

#treecontrol{
	margin:1em 0 !important; 
	display:none; 
}

.treeview .hover{
	color:red; cursor:pointer; 
}

.treeview li{
	background:url(../img/tre-viw/lne.gif) 0 0 no-repeat; 
}

.treeview li.collapsable, .treeview li.expandable{
	background-position:0 -176px; 
}

.treeview .expandable-hitarea{
	background-position:-80px -3px; 
}

.treeview li.last{
	background-position:0 -1766px 
}

.treeview li.lastCollapsable, .treeview li.lastExpandable{
	background-image:url(../img/tre-viw/tgl.gif); 
}  

.treeview li.lastCollapsable{
	background-position:0 -111px 
}

.treeview li.lastExpandable{
	background-position:-32px -67px 
}

.treeview div.lastCollapsable-hitarea, .treeview div.lastExpandable-hitarea{
	background-position:0; 
}

.fle_sys li{
	padding:3px 0 2px 16px !important; 
}

.fle_sys span.dir, .fle_sys span.fle{
	padding:1px 0; 
	display:block; 
}

.fle_sys span.dir{ 
	padding-left:20px !important;
	background:url(../img/tre-viw/ico-dir-opn.png) 0 0 no-repeat; 
}

.fle_sys li.expandable span.dir{
	background:url(../img/tre-viw/ico-dir-cls.png) 0 0 no-repeat; 
}

.fle_sys span.fle{
	padding-left:18px !important; 
	background:url(../img/tre-viw/ico-fle.png) 0 0 no-repeat; 
}


/* Advance Checkbox List */

.wpm_adv_chk_lst{
	width:475px;
	float:left;
}

.wpm_adv_chk_lst .ctn{
	max-height:200px;
	overflow:auto;
}

.wpm_adv_chk_lst .chk{
	display:none
}

.wpm_adv_chk_lst .nde{
	width:128px;
	padding:0 0 0 19px;
	height:25px;
	line-height:25px;
	vertical-align:middle;
	float:left;
	display:block;
	margin-right:5px;
	background:url(../img/adv-chk.png) no-repeat 0 -50px;
	cursor:pointer
}

.wpm_adv_chk_lst .nde.chk_inc{
	background:url(../img/adv-chk.png) no-repeat 0 0;
}

.wpm_adv_chk_lst .nde.chk_exc{
	background:url(../img/adv-chk.png) no-repeat 0 -25px;
}

.wpm_adv_chk_lst .nde:hover{
	text-decoration:underline
}


/* Tooltip */

div.ui-cluetip {
	font-size:1em;
}

.ui-cluetip-header,
.ui-cluetip-content {
	padding:12px;
}

.ui-cluetip-header {
	font-size:1em;
	margin:0;
	overflow:hidden;
}

.cluetip-title .cluetip-close {
	float:right;
	position:relative;
}

.cluetip-close img {
	border:0;
}

#cluetip-waitimage {
	width:43px;
	height:11px;
	position:absolute;
	background-image:url(../img/tol-tip/prg.gif);
}

.cluetip-arrows {
	display:none;
	position:absolute;
	top:0;
	left:-11px;
	width:11px;
	height:22px;
	background-repeat:no-repeat;
	background-position:0 0;
	border-width:0;
}
.cluetip-extra {
	display:none;
}

.cluetip-default {
	background-color:#d9d9c2;
}

.cluetip-default .ui-cluetip-header {
	background-color:#87876a;
}

div.cluetip-default .cluetip-arrows {
	border-width:0;
	background:transparent none;
}

div.clue-right-default .cluetip-arrows {
	background-image:url(../img/tol-tip/dfl-arr-lft.gif);
}

div.clue-left-default .cluetip-arrows {
	background-image:url(../img/tol-tip/dfl-arr-rgt.gif);
	left:100%;
	margin-right:-11px;
}

div.clue-top-default .cluetip-arrows {
	background-image:url(../img/tol-tip/dfl-arr-dwn.gif);
	top:100%;
	left:50%;
	margin-left:-11px;
	width:22px;
	height:11px;
}

div.clue-bottom-default .cluetip-arrows {
	background-image:url(../img/tol-tip/dfl-arr-up.gif);
	top:-11px;
	left:50%;
	margin-left:-11px;
	width:22px;
	height:11px;
}

.cluetip-jtip {
	background-color:#fff;
}
.cluetip-jtip .cluetip-outer {
	border:2px solid #ccc;
	position:relative;
}

.cluetip-jtip .cluetip-inner {
	padding:5px;
	display:inline-block;
}
.cluetip-jtip div.cluetip-close {
	text-align:right;
	margin:0 5px 0;
	color:#900;
}

.cluetip-jtip .ui-cluetip-header {
	background-color:#ccc;
	padding:6px;
}

div.cluetip-jtip .cluetip-arrows {
	border-width:0;
	background:transparent none;
}
div.clue-right-jtip .cluetip-arrows {
	background-image:url(../img/tol-tip/jti-arr-lft.gif);
}
div.clue-left-jtip .cluetip-arrows {
	background-image:url(../img/tol-tip/jti-arr-rgt.gif);
	left:100%;
	margin-right:-11px;
}
div.clue-top-jtip .cluetip-arrows {
	background-image:url(../img/tol-tip/jti-arr-dwn.gif);
	top:100%;
	left:50%;
	width:22px;
	height:11px;
	margin-left:-11px;
}
div.clue-bottom-jtip .cluetip-arrows {
	background-image:url(../img/tol-tip/jti-arr-up.gif);
	top:-11px;
	left:50%;
	width:22px;
	height:11px;
	margin-left:-11px;
}


/* Thickbox */

#TB_window{
	font-family:arial;
	font-size:12px
}

#TB_ajaxWindowTitle{
	padding:6px 8px 0;
	font-weight:bold
}

#TB_ajaxContent{
	padding:8px 0 8px 8px;
	margin:0 -4px 0 0;
}