.wpm_pag{	
	font-family:arial;
	margin-bottom:12px;
}

#logoimg,.new,.hot,#searchbox,.manga_close,.manga_open{background-image:url(http://s4.mangapanda.com/sup/images/dark.82887f08c7.png);}
.hot{background:-310px -15px no-repeat;width:38px;height:15px;float:left;clear:right;margin-right:10px;vertical-align:top;}
.new{background:-310px 0 no-repeat;width:38px;height:15px;float:left;clear:right;margin-right:10px;vertical-align:top;}

.wpm_ato_cpl.mng_sch{
	margin-left:-2px
}

.wpm_ato_cpl.mng_sch.hdr{
	margin-left:-202px	
}

.wpm_ato_cpl li{
	background:none
}

.ac_odd{
	background:#2c2c2c !important;
}

.ac_over{
	background:#1f1f1f !important;
	color:#b0b0b0;
}

/* General */

.flt_rgt{
	float:right
}

.flt_lft{
	float:left
}

.clr{
	clear:both !important
}

.img_wrp{
	display:table-cell;
	vertical-align:middle;
}

.img_wrp img{
	display:block;
	margin:auto;
}

.wpm_pag .btn{
	font-family:arial;
	font-weight:bold;
	font-size:12px;
	margin:0;
	padding:0
}
	
.wpm_pag input.txt{
	font-family:arial;
	font-size:12px;
	height:17px;
	padding:2px 2px 0 2px;
	margin:0
}

.wpm_pag .lnk_cnr{
	text-align:center
}

.wpm_pag a{
	text-decoration:none
}

.wpm_pag a:hover{
	text-decoration:underline
}


/* Navigation */

.wpm_pag .wpm_nav{	
	margin:8px 0;
	background:#eeeeee;
	padding:4px;
	border:1px solid #c6c6c6;
	height:60px
	
}

.wpm_pag ul.nav_mng{
	float:left;
	width:350px;
	margin:0;
	padding:0;
	list-style:none
}

.wpm_pag ul.nav_mng li{
	margin:0;
	padding:0 20px 0 0;
	display:block;
	float:left;
	border:none;
	line-height:25px;
	vertical-align:middle;
	background:none
}

.wpm_pag ul.nav_mng li:hover{
	border:none;
	background:transparent
}

.wpm_pag .cbo_wpm_mng{
	width:250px;
	font-family:arial;
	font-size:12px
}

.wpm_pag ul.nav_chp{
	float:left;
	width:350px;
	margin:0;
	padding:0;
	list-style:none
}

.wpm_pag ul.nav_chp li{
	margin:0;
	padding:0 20px 0 0;
	display:block;
	float:left;
	border:none;
	line-height:25px;
	vertical-align:middle;
	background:none
}

.wpm_pag ul.nav_chp li:hover{
	border:none;
	background:transparent
}

.wpm_pag .cbo_wpm_chp{
	width:250px;
	font-family:arial;
	font-size:12px
}

.wpm_pag .cbo_wpm_pag{
	width:40px;
	font-family:arial;
	font-size:12px
}

.wpm_pag ul.nav_pag{
	float:right;
	width:150px;
	margin:0;
	padding:0;
	list-style:none
}

.wpm_pag ul.nav_pag li{
	margin:0;
	padding:0 0 0 8px;
	display:block;
	background:none;
	float:right;
	border:none;
	line-height:25px;
	vertical-align:middle
}

.wpm_pag ul.nav_pag li:hover{
	border:none;
	background:transparent
}

.wpm_pag .wpm_tip{	
	border:1px solid #E6DB55;
	color:#000000;
	background-color:#ffe95d;
	padding:7px;
	margin:0 0 4px 0
}

.wpm_pag .wpm_ifo_box{	
	border:1px solid #E6DB55;
	background-color:#FFFBCC;
	color:#000000;
	padding:7px;
	margin:0 0 4px 0
}

.wpm_pag .wpm_ifo_box h2{
	padding-top:0 !important;
	margin-top:0 !important;
}

.wpm_pag .wpm_ifo_box h3{	
	margin:0;
	padding:4px 0 2px 0;
	color:#302d31;
	font-size:13px
}

.wpm_pag .wpm_srt{
	float:left;
	width:170px;
	line-height:18px;
	padding:4px 0 0 0;
}

.wpm_pag .wpm_srt select{
	font-family:arial;
	font-size:12px;
	width:120px;
	float:right
}

/* Adm */

.wpm_adm{
	padding:7px;
	border:1px solid #0acaca;
	background-color:#cacaca;
}


/* Headers */

.wpm_pag h1.ttl{
	font-family:arial;
	font-size:23px;
	font-weight:normal;
	border-bottom:2px solid #a9a9a9;
	padding-bottom:7px;
	margin:0
}

.wpm_pag h2.ttl{
	font-family:arial;
	font-size:18px;
	font-weight:normal;
	border-bottom:2px solid #a9a9a9;
	padding-bottom:7px;
	margin:0
}


/* Paging */

.wpm_pag ul.pgg{	
	margin:0;
	padding:0;
	list-style:none;
	float:right;
	margin-right:7px
}

.wpm_pag ul.pgg li{
	line-height:27px;
	height:27px;
	float:left;
	background:none;
	padding:0;
	display:block;
	margin-left:5px
}

.wpm_pag ul.pgg li:hover{
	background:transparent
}

.wpm_pag ul.pgg li a.sel{
	font-weight:bold;
	text-decoration:underline
}

/* Listing */

.wpm_pag ul.lst{
	margin:0;
	padding:0;
	list-style:none
}

.wpm_pag ul.lst li{
	list-style:none;
	height:27px;
	line-height:27px;
	border-bottom:1px dashed #cccccc;
	padding:0;
	background:none;
	margin:0;
}

.wpm_pag ul.lst li:first-child{
	border-top:1px dashed #a9a9a9;
}

.wpm_pag ul.lst li:hover{
	background:#f1f1f1;	
	border-bottom:1px dashed #a9a9a9;
}

.wpm_pag ul.lst li.cur{
	height:20px;
	border:none;
}

.wpm_pag ul.lst li.cur :hover{
	border:none;
}

.wpm_pag ul.lst li a.lst{
	height:27px;	
	line-height:27px;
	width:100%;	
	display:block;
	vertical-align:middle;
	float:left;
}

.wpm_pag ul.lst .upd_flg{
	color:#ff0000;
	font-weight:bold
}

.wpm_pag ul.lst b.val{
	float:left;
	font-weight:normal;
	overflow:hidden;
	height:20px
}

.wpm_pag ul.lst b.num{
	float:right;
	margin-right:5px;
	font-weight:normal;
	width:45px;
	overflow:hidden;
	height:20px
}

.wpm_pag ul.lst b.dte{
	float:right;
	margin-right:0px;
	font-weight:normal;
	width:100px;
	overflow:hidden
}

.wpm_pag ul.lst b.ttl{
	float:right;
	margin-right:100px;
	font-weight:normal;
	width:30px;
	text-align:right;
	overflow:hidden;
}

.wpm_pag ul.lst.vbb_thd b.ttl{
	margin-right:0 !important;
	width:130px;
}

.wpm_pag ul.lst b.slt{
	float:right;
	font-weight:normal;
	width:80px;
	text-align:right;
	overflow:hidden;
	padding-right:5px
}

.wpm_pag ul.lst .dld{
	display:block;
	height:27px;
	line-height:27px;
	clear:both;
	float:right;
	margin:-27px 240px 0 0;
	background:url(img/ico-dld.png) no-repeat left 6px;
	padding:0 0 0 18px
}

.wpm_pag ul.lst .wpm_rtg.rtg_mng{
	clear:both;
	float:right;
	margin:-21px 0 0 0
}

/* Warning */

.wpm_err{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	padding:4px;
	margin-bottom:4px;
	border:1px solid;	
	text-align:left
}

.wpm_err.err{
	border-color:#FFFF00;
	color:#FFFFFF;
	background-color:#D54E21
}

.wpm_err.scs{
	border-color:#E6DB55;
	color:#000000;
	background-color:#FFFBCC
}

.wpm_err.scs p{
	margin:0;
	padding:0
}

.wpm_err ul{
	padding:0;
	margin:0;
	list-style:none
}

/* Form - General */

.wpm_frm{
	padding:0;
	margin:0	
}

.wpm_frm .row{
	margin-bottom:5px;
	height:20px;
	line-height:20px;
	vertical-align:middle;
}

.wpm_frm .row.exp{
	height:auto
}

.wpm_frm label{
	width:175px;
	height:20px;
	line-height:20px;
	vertical-align:middle;
	display:block;
	float:left;	
	margin:0;
	padding:0
}

.wpm_frm input.txt{
	width:196px;
	height:20px;
	padding:0px 2px;
}

.wpm_frm .chk{
	margin:5px 5px 0 0;
	padding:0;
	float:left;
}

.wpm_frm .row .chk{
	margin-top:4px
}

.wpm_frm .btn{
	margin-top:10px;
	width:150px
}

/* Related Manga */


.mng_rlt .nde{
	width:146px !important;
	float:left;
	margin:0 8px 8px 0;
	border:none !important;
}

.mng_rdr .mng_rlt .nde{
	width:148px !important;
	margin:0 9px 9px 0;
}

.mng_rlt .nde.las{
	margin-right:0
}

.mng_rlt .cvr{
	width:144px !important;
	height:144px !important;
	border:1px solid #cccccc;
	overflow:hidden
}

.mng_rdr .mng_rlt .cvr{
	width:146px !important;
	height:146px !important;
}

.mng_rlt .cvr div{
	width:144px !important;
	height:144px !important;
}

.mng_rdr .mng_rlt .cvr div{
	width:146px !important;
	height:146px !important;
}

.mng_rlt .nde .cvr img{
	border:none !important;
}

.mng_rlt div.spr{
	margin:0;
}

.mng_rlt .det{
	text-align:center;
	padding:5px 0 0 0
}

.mng_rlt .det .wpm_rtg.rtg_mng{
	padding:0;
	margin:3px auto 0 auto
}

.mng_rlt .det .vws{
	padding:4px 0 0 0
}


/* Bookmark */

.wpm_pag div.bmk{
	text-align:right;
	padding:0 3px 3px 0;
	float:right;
	width:350px;
	height:21px;
	line-height:21px;
}

.wpm_pag a.rss{
	background:url(img/ico-rss.gif) no-repeat center left;
	padding:0 0 0 18px
}

.wpm_pag a.wpm_bmk{
	background:url(img/ico-bmk.png) no-repeat center left;
	padding:0 0 0 15px
}


/* Page - Manga Detail */

.wpm_pag.mng_det .mng_ifo{
	margin:0px 0px 0px 0px 0px;
	background:#eef2f7;
	//background:#fff;
	padding:4px;
	border:1px solid #0000ff;
	text-align:center; font:15px Oswald;color:#333;
	text-shadow:1px 1px 1px #ccc;
}

.wpm_pag.mng_det .mng_ifo .cvr_ara{
	width:150px;
	float:left;
	text-align:center;
	padding-right:4px;
	border-right:1px solid #c6c6c6
}

.wpm_pag.mng_det .mng_ifo .cvr{ 
	max-width:150px;
	margin:0 0 7px 0
}

.wpm_pag.mng_det .mng_ifo .wpm_rtg.rtg_mng{
	margin:5px 0 14px 55px;
}

.wpm_pag.mng_det .mng_ifo .det{
	padding-left:170px;
}

.wpm_pag.mng_det .mng_ifo p{
	padding:0;
	margin:0
}

.wpm_pag.mng_det h2.ttl{
	border-bottom:none
}

.wpm_pag.mng_det ul.lst{
	margin:0 0 8px 0
}

.wpm_pag.mng_det ul.lst li:first-child{
	border-top:none
}

.wpm_pag.mng_det ul.lst .dld{
	width:14px;
	margin:-27px 315px 0 0;
	overflow:hidden;
	padding:0
}


/* Page - Manga Chapter Preview */

.wpm_pag.mng_chp_prv .nde{
	width:144px;
	height:200px;
	float:left;
	margin:0 8px 8px 0;
	border:1px solid #c9c9c9;
	overflow:hidden
}

.wpm_pag.mng_chp_prv .nde.las{
	margin-right:0
}

.wpm_pag.mng_chp_prv .nde div{
	width:144px;
	height:200px;
}

.wpm_pag.mng_chp_prv .nde img{
	border:0;
	width:144px;
	height:200px;
}

.wpm_pag.mng_chp_prv div.spr{
	margin:0
}

/* Page - Manga Reader */

#sct_wpm_scl{
	float:left;
	width:350px;
	
}

#sct_wpm_scl a{
	float:left;
	margin:1px 5px 0 0
}

#sct_wpm_scl iframe{
	border:none;
	overflow:hidden;
	width:100px;
	height:21px;
	float:left
}

.wpm_pag.mng_rdr .prw{
	overflow:auto;
	text-align:center;
	padding:2px 0;
	width:100%
}

.wpm_pag.mng_rdr .prw img{
	max-width:933px;
	min-width:800px;

}

#sct_img_mng_enl{
	text-align:center;
	overflow:hidden;
	height:0;
	width:0;
	z-index:1000;

	background:#cacaca;
}

#sct_img_mng_enl.dsp{
	position:fixed;
	left:30px;
	top:30px;
	overflow:auto;
	border:2px solid #cacaca
}

/* Page - Manga Search */

.wpm_pag.mng_sch{
	padding:0;
	margin:0
}

.wpm_pag.mng_sch .btn{
	margin-top:10px;
	width:150px
}

.wpm_pag.mng_sch label{
	width:100px
}

.wpm_pag.mng_sch .wpm_adv_chk_lst{
	width:508px
}

/* Widget - Manga Search */

.wpm_wgt.mng_sch{}

.wpm_wgt.mng_sch form{
	padding:0;
	margin:0;
	width:100%;
}

.wpm_wgt.mng_sch .clr{
	height:4px;	
}

.wpm_wgt.mng_sch a{
	height:20px;
	margin-top:4px;
	line-height:20px;
	float:left;
	display:block
}

.wpm_wgt.mng_sch .txt{
	font-family:arial;
	font-size:12px;
	height:17px;
	padding:2px 0 0 0;
	margin:0;
	width:99%
}

.wpm_wgt.mng_sch .cmd{
	font-family:arial;
	font-weight:bold;
	font-size:12px;
	margin:4px 0 0 0;
	padding:0;
	width:75px;
	float:right
}


/* Widget - Manga Index */

.wpm_wgt.mng_idx .clr{
	height:8px
}

.wpm_wgt.mng_idx .cbo{
	width:100%
}

.wpm_wgt.mng_idx .res{
	padding-top:8px
}

.wpm_tab_pln li{
	background:none;
	padding-left:0
}

.wpm_tab_ctt{
	max-height:200px;
	overflow:auto
}


/* Widget - Manga of the week */

.wpm_wgt.mng_wek div.cvr{
	border:1px solid #a30080;
	width:62px;
	height:87px;
	margin:0 5px 5px 0;
	float:left;
	overflow:hidden
}
.wpm_wgt.mng_wek div.cvr div{
	width:62px;
	height:87px;
}

.wpm_wgt.mng_wek a.ttl{
	font-size:20px;
	font-weight:normal;
	font-weight:bold;
	text-decoration:none !important
}

.wpm_wgt.mng_wek .wpm_rtg.rtg_mng{
	margin:0 0 0 69px
}


/* Page - Manga Latest Chapter - Thumb */

.wpm_pag.mng_lts_chp.tbn{
	margin-bottom:0
}

.wpm_pag.mng_lts_chp.tbn .spr{
	clear:both;
	border-top:1px dashed #cccccc;
	height:3px;
}

.wpm_pag.mng_lts_chp.tbn .nde{
	width:196px;
	height:90px;
	float:left;
	margin:0;
}

.wpm_pag.mng_lts_chp.tbn .nde.las{
	margin-right:0
}

.wpm_pag.mng_lts_chp.tbn .cvr{
	float:left;
	width:62px;
	height:88px;
	border:1px solid #cccccc;
	overflow:hidden
}

.wpm_pag.mng_lts_chp.tbn .cvr div{
	width:62px;
	height:88px;
}

.wpm_pag.mng_lts_chp.tbn .det{
	float:right;
	width:127px
}

.wpm_pag.mng_lts_chp.tbn .det .ifo{
	min-height:51px
}

.wpm_pag.mng_lts_chp.tbn .det .ttl{
	text-decoration:underline;
	font-size:13px;
	font-weight:bold
}

.wpm_pag.mng_lts_chp.tbn .det .chp_ifo{
	font-size:12px;
	line-height:16px
}

.wpm_pag.mng_lts_chp.tbn .det .msc{
	margin:9px 0 0 0;
}

.wpm_pag.mng_lts_chp.tbn .det .wpm_rtg.rtg_mng{
	clear:both;
	float:left;
	margin:0 0 4px 0
}

.wpm_pag.mng_lts_chp.tbn .det .stt{
	display:block;
	position:relative;
	margin-top:-3px;
	font-size:12px;	
	float:left
}

.wpm_pag.mng_lts_chp.tbn .det .mre{
	background:url("img/bg-cmd-62.png") no-repeat top left;
	width:62px;
	height:23px;
	display:block;
	line-height:23px;
	text-align:center;
	float:right;
	margin:9px 0 0 0;
}

.wpm_pag.mng_lts_chp.tbn div.spr{
	margin:0 0 7px 0;
	border-bottom:1px dashed #cccccc;
	border-top:none;
	height:7px;
	clear:both
}


/* Page - Manga Latest Chapter - Previous */

.wpm_pag.mng_lts_chp.pvs{
	margin:0
}

.wpm_pag.mng_lts_chp.pvs div.mre{
	text-align:right;
	margin-top:5px
}

/* Widget - Manga List */

.wpm_wgt.mng_lst li{
	padding:0;
	background:#e4e2e2;
	margin:0 0 8px 0
}

.wpm_wgt.mng_lst .clr{
	height:7px
}

.wpm_wgt.mng_lst .clr.las{
	height:0
}

.wpm_wgt.mng_lst .cvr{
	float:left;
	width:36px;
	height:36px;
	border:1px solid #cccccc;
	overflow:hidden
}

.wpm_wgt.mng_lst .cvr div{
	width:36px;
	height:36px;
}

.wpm_wgt.mng_lst .det{
	float:right;
	width:257px;
	font-size:13px;
	line-height:20px
}

.wpm_wgt.mng_lst .det a.ttl{
	font-size:15px;
	line-height:18px;
	font-weight:bold;
	text-decoration:none !important
}

.wpm_wgt.mng_lst .det a:hover,
.wpm_wgt.mng_lst .det a.chp:hover{
	text-decoration:underline !important
}

.wpm_wgt.mng_lst .det b{
	float:right;
	font-size:15px;
	line-height:18px;
	color:#b3b08f;
	font-weight:bold;
}

.wpm_wgt.mng_lst .det a.chp{
	color:#a30080;
	text-decoration:none !important
}


/* Page - Manga List - Thumb */

.wpm_pag.mng_lst.tbn h1.ttl{
	margin-bottom:10px
}

.wpm_pag.mng_lst.tbn .nde{
	width:146px;
	float:left;
	margin:0 8px 8px 0;
}

.wpm_pag.mng_lst.tbn .nde.las{
	margin-right:0
}

.wpm_pag.mng_lst.tbn .cvr{
	width:144px;
	height:200px;
	border:1px solid #cccccc;
	overflow:hidden
}

.wpm_pag.mng_lst.tbn .cvr div{
	width:144px;
	height:200px;
}

.wpm_pag.mng_lst.tbn .nde img{
	border:0;
}

.wpm_pag.mng_lst.tbn div.spr{
	margin:0;
}

.wpm_pag.mng_lst.tbn .det{
	text-align:center;
	padding:5px 0 0 0
}

.wpm_pag.mng_lst.tbn .det .wpm_rtg.rtg_mng{
	padding:0;
	margin:3px auto 0 auto
}

.wpm_pag.mng_lst.tbn .det .vws{
	padding:4px 0 0 0
}


/* Page - Manga Latest Chapter - Group */

.wpm_pag.mng_lts_chp.grp{
	margin:0 !important
}

.wpm_pag.mng_lts_chp.grp .row{
	clear:both;
	padding:0 0 4px 0;
	margin:0 0 4px 0;
	border-bottom:1px dashed #cccccc;
}

.wpm_pag.mng_lts_chp.grp .cvr{
	float:left;
	width:36px;
	height:36px;
	border:1px solid #cccccc;
	overflow:hidden
}

.wpm_pag.mng_lts_chp.grp .cvr div{
	width:36px;
	height:36px;
}

.wpm_pag.mng_lts_chp.grp .det{
	float:right;
	width:562px;
	font-size:13px;
	line-height:20px;
	min-height:36px;
}

.wpm_pag.mng_lts_chp.grp .det a.ttl{
	font-size:14px;
	line-height:14px;
	padding:0 0 1px 0
}

.wpm_pag.mng_lts_chp.grp b.upd_sts{
	color:#d88c12;
	font-size:11px
}

.wpm_pag.mng_lts_chp.grp b.hot_sts{
	color:#ff0000;
	font-size:11px
}

.wpm_pag.mng_lts_chp.grp ul.lst li{
	height:17px;
	border-bottom:none;
	padding:0;
	margin:0;
	background:none
}

.wpm_pag.mng_lts_chp.grp ul.lst li:first-child{
	border-top:none;
}

.wpm_pag.mng_lts_chp.grp ul.lst li:hover{
	background:#cacaca;
	border-bottom:none;
}

.wpm_pag.mng_lts_chp.grp ul.lst li.cur{
	height:17px;
	border:none;
}

.wpm_pag.mng_lts_chp.grp ul.lst li.cur :hover{
	border:none;
}

.wpm_pag.mng_lts_chp.grp ul.lst li a.lst{
	height:17px;	
	line-height:17px;
	width:100%;	
	display:block;
	vertical-align:middle;
	float:left;
	font-size:11px
}

.wpm_pag.mng_lts_chp.grp ul.lst b.val{
	float:left;
	font-weight:normal;
	overflow:hidden;
	height:17px
}

.wpm_pag.mng_lts_chp.grp ul.lst b.num{
	float:right;
	margin-right:5px;
	font-weight:normal;
	width:45px;
	overflow:hidden;
	height:17px
}

.wpm_pag.mng_lts_chp.grp ul.lst b.dte{
	float:right;
	margin-right:0px;
	font-weight:normal;
	width:80px;
	overflow:hidden
}

.wpm_pag.mng_lts_chp.grp ul.lst b.ttl{
	float:right;
	margin-right:80px;
	font-weight:normal;
	width:30px;
	padding:0 18px 0 0;
	text-align:right;
	overflow:hidden;
	background:url(img/ico-reader.png) no-repeat right center
}

.wpm_pag.mng_lts_chp.grp ul.lst .dld{
	display:block;
	height:14px;
	line-height:14px;
	font-size:11px;
	clear:both;
	float:right;
	margin:-15.5px 220px 0 0;
	background:url(img/ico-dld.png) no-repeat left center;
	padding:0 0 0 18px
}

.wpm_pag.mng_lts_chp.grp ul.lst .wpm_rtg.rtg_mng{
	clear:both;
	float:right;
	width:74px;
	height:14px;
	margin:-15.5px 0 0 0;
	background:url(img/rtg-sta-sml.png) repeat-x 0 0px
}

.wpm_pag.mng_lts_chp.grp ul.lst .wpm_rtg.rtg_mng div{
	background:url(img/rtg-sta-sml.png) repeat-x 0 -14px;
	height:14px;
	width:0
}

.wpm_pag.mng_lts_chp.grp ul.lst .wpm_rtg.rtg_mng .rtg_1{
	width:14px
}

.wpm_pag.mng_lts_chp.grp ul.lst .wpm_rtg.rtg_mng .rtg_2{
	width:29px
}

.wpm_pag.mng_lts_chp.grp ul.lst .wpm_rtg.rtg_mng .rtg_3{
	width:44px
}

.wpm_pag.mng_lts_chp.grp ul.lst .wpm_rtg.rtg_mng .rtg_4{
	width:59px
}

.wpm_pag.mng_lts_chp.grp ul.lst .wpm_rtg.rtg_mng .rtg_5{
	width:74px
}


/* Pop Up - Manga Detail */

.wpm_pop.mng_det{
	padding:0;
	margin:0
}

.wpm_pop.mng_det .mng_ifo{
	background:#eeeeee;
	padding:4px;
	border:1px solid #c6c6c6;
}

.wpm_pop.mng_det .mng_ifo .cvr_ara{
	width:200px;
	float:left;
	text-align:center;
	padding-right:4px;
	border-right:1px solid #c6c6c6
}

.wpm_pop.mng_det .mng_ifo .cvr{ 
	max-width:200px;
	margin:0 0 7px 0
}

.wpm_pop.mng_det .mng_ifo .wpm_rtg.rtg_mng{
	margin:5px 0 14px 55px;
}

.wpm_pop.mng_det .mng_ifo .det{
	padding-left:208px;
	width:468px
}

.wpm_pop.mng_det .mng_ifo p{
	padding:0;
	margin:0
}


/* Widget - Slide Show*/

.widget.wpm_wgt.sld_shw{
	background:url(img/ajx.gif) no-repeat center center !important;
	padding:0 !important;
}

.wpm_wgt.sld_shw h2{
	display:none !important
}

.wpm_wgt.sld_shw .sld_rnr{
}