body{
	background:url(../../img/var-1/bg.png) repeat-x top left #000000;
}

ul li{
	background:url(../../img/var-1/sprite.png) no-repeat -71px -369px;
}

#sct_head{
	background:url(../../img/var-1/sprite.png) repeat-x 0 0;
}

#sct_search{
	background:url(../../img/var-1/sprite.png) no-repeat -74px -102px;
}

#sct_search .cbo{
	background:url(../../img/var-1/sprite.png) repeat-x 0 -129px;	
}

#sct_search select{
	color:#fff
}

#sct_search form{
	width:199px;
	height:27px;
}

#sct_search .txt{
	background:url(../../img/var-1/sprite.png) repeat-x 0 -129px;
	color:#fff
}

#sct_search:hover .txt,
#sct_search:hover select{
	color:#fff
}

#sct_menu li{
	background:url(../../img/var-1/sprite.png) no-repeat -61px -156px;
}

#sct_menu li a{
	background:url(../../img/var-1/sprite.png) no-repeat right -268px;
	color:#fff;
}

#sct_menu li b{
	background:url(../../img/var-1/sprite.png) repeat-x 0 -212px;	
	color:#fff
}

#sct_menu ul li li{
	border:1px solid #696969;
}

#sct_widget_top h2, 
#sct_widget_content_top h2, 
#sct_widget_content_bottom h2{
	color:#000;
}

#sct_widget_top .widget, 
#sct_widget_content_top .widget, 
#sct_widget_content_bottom .widget, 
#sct_widget_right .widget{
	border:1px solid #d0d0d0;
	color:#000
}

#sct_widget_top .widget a, 
#sct_widget_content_top .widget a, 
#sct_widget_content_bottom .widget a, 
#sct_widget_right .widget a{
	color:#000
}

#sct_widget_right h2{
	background:url(../../img/var-1/sprite.png) repeat-x 0 -332px;
	color:#fff;
}