/*
	Theme Name:Light Pro
	Theme URI:http://xhanch.com/
	Description:Light Pro
	Version:1.0.2
	Author:Xhanch Studio
	Author URI:http://xhanch.com/
	Tags:fixed width,light,multi page template
*/

body{
	margin:0;
	padding:0;
	font-family:arial;
	font-size:12px;
	background:url(../img/bg.jpg) repeat center top #131313;
	color:#131313;
	min-width:950px
}



a:link{color:#f7441a;text-decoration:none}
a:visited{color:#0000ff;text-decoration:none}
a:hover{color:#111111;text-decoration:none}

#logoimg,.new,.hot,#searchbox,.manga_close,.manga_open{background-image:url(http://s4.mangapanda.com/sup/images/dark.82887f08c7.png);}
.hot{background:-310px -15px no-repeat;width:38px;height:15px;float:left;clear:right;margin-right:10px;vertical-align:top;}
.new{background:-310px 0 no-repeat;width:38px;height:15px;float:left;clear:right;margin-right:10px;vertical-align:top;}
.clear{clear:both !important;}
.fr{float:right}
.fl{float:left}

/*
.hot{background:-310px -15px no-repeat;width:38px;height:15px;float:left;clear:right;margin-right:10px;vertical-align:top;}
.new{background:-310px 0 no-repeat;width:38px;height:15px;float:left;clear:right;margin-right:10px;vertical-align:top;}
.clear{clear:both !important;}
.fr{float:right}
.fl{float:left}  */

.wrap{
	width:950px;
	margin:0px auto;
}

.social{
	height:22px;
	padding:6px 0 0 0;
}

.social .fb{
	width:85px;
	float:left;
	border:none; 
	overflow:hidden; 
	height:21px;
}

.social .tw{
	width:110px;
	float:left
}

.wp-caption{
	padding:4px;
	background:#eae7e8;
	border:1px solid #7cd9ff;
}

.wp-caption-text{
	padding:2px 0;
	margin:0;
	display:block;
	font-size:11px;
	color:#c67aaf
}

img{border:0}
a{text-decoration:none}
a:hover{text-decoration:underline}

form{
	padding:0;
	margin:0
}

ul{
	margin:0;
	padding:0;
	list-style:none
}

ul li{
	line-height:18px;
	padding:0 0 0 13px;
	background:url(../img/sprite.png) no-repeat -71px -369px;
	list-style:none
}

ol{
	margin:0;
	padding:0 0 0 19px;	
}

ol li{
}

dt, dd{
	margin:0;
	padding:0;
	padding:0 0 0 13px;
}

dt{
	font-weight:bold
}

p{
	display:block;
	text-align:justify;
	padding:0 0 15px 0;
	margin:0
}

acronym, abbr, span.caps{
	cursor:help;
}

acronym, abbr{
	border-bottom:1px dashed #999;
}

blockquote{
	margin:15px 30px 0 10px;
	padding-left:20px;
	border-left:5px solid #ddd;
}

blockquote cite{
	margin:5px 0 0;
	display:block;
}

pre{
	font-family:"courirer new",courier;
	font-size:10px;
	background:#eae7e8;
	padding:4px;
	border:1px solid #7cd9ff
}

#sct_head{
	padding:8px 0 0 0;
	height:86px;
	//background:url(../img/sprite.png) repeat-x 0 0;
	position:relative;
	z-index:1;
}

#sct_head .wrap{
	height:86px;
}

#sct_head .shade{
	height:8px;
	background:url(../img/sprite.png) repeat-x 0 -94px;
	position:relative;
	z-index:2
}

#sct_logo{
	width:600px;
	height:59px;
	overflow:visible
}

#sct_logo a:hover{
	text-decoration:none
}

#sct_logo b{
	font-family:arial;
	font-size:43px;
	color:#fff;
	padding:0 10px 0 0
}

#sct_logo i{
	font-style:normal;
	font-size:20px;
	color:#cbc3c3
}

#sct_search{
	width:270px;
	background:url(../img/sprite.png) no-repeat -74px -102px;
	padding:0 0 0 6px;
}

#sct_search .cbo{
	background:url(../img/sprite.png) repeat-x 0 -129px;	
	height:25px;
	border-right:1px solid #000;
	width:70px;
	float:left;
	overflow:hidden;
	padding:1px 0 1px 0
}

#sct_search select{
    -webkit-appearance:none;
	float:left;
	width:100px;
	display:block;
	background:#4a4a4a !important;
	border:none;
	padding:4px 0 0 0;
	margin:0;
	font-family:arial;
	font-size:12px !important;
	line-height:17x;
	height:22px;
}

#sct_search option{  
	font-size:12px
}

#sct_search form{
	width:199px;
	height:27px;
}

#sct_search .txt{
	width:164px;
	background:url(../img/sprite.png) repeat-x 0 -129px;
	height:27px;
	padding:0 0 0 5px;
	margin:0;
	border:none;
	font-family:arial !important;
	font-size:12px !important;
	border-right:1px solid #000
}

#sct_search:hover .txt,
#sct_search:hover select{
	color:#cacaca
}

#sct_search .cmd{
	width:29px;
	height:27px;
}

#sct_menu .social{
	width:195px;
	padding:1px 0 0 0
}

#sct_menu{
	height:28px;
}

#sct_menu li, 
#sct_menu a, 
#sct_menu b{
	height:28px;
	display:block;
	float:left;
}

#sct_menu li:hover, 
#sct_menu li.current_page_item{
	z-index:1;
	position:relative
}

#sct_menu li{
	background:url(../img/sprite.png) no-repeat -60px -156px;
	padding:0 0 0 19px;
	margin:0 0 0 -13px;
}

#sct_menu li:hover, 
#sct_menu li.current_page_item{
	background-position:-60px -184px
}

#sct_menu li a{
	background:url(../img/sprite.png) no-repeat right -268px;
	padding:0 4px 0 0;
	text-shadow:#c90909 1px 1px;
}

#sct_menu li:hover a, 
#sct_menu li.current_page_item a{
	background-position:right -296px;
	text-decoration:none
}

#sct_menu li b{
	background:url(../img/sprite.png) repeat-x 0 -212px;	
	line-height:28px;
	padding:0 10px 0 4px !important;
	margin:0 !important;
	font-size:13px;
	color:#fff
}

#sct_menu li:hover b, 
#sct_menu li.current_page_item b,
#sct_menu ul li:hover li:hover a b,
#sct_menu ul li:hover li:hover li:hover a b{
	background-position:0 -240px;
}

#sct_menu ul{
	z-index:100;
	position:relative;
}

#sct_menu ul ul{
	position:absolute;
	top:-999em;
	width:175px;
	left:0;
	background:#c88614
}

#sct_menu ul li:hover{
	visibility:inherit;
}

#sct_menu ul li:hover ul,
#sct_menu ul li.hover ul{
	width:175px;
	top:28px;
}

#sct_menu ul li:hover li ul,
#sct_menu ul li.hover li ul{
	top:-999em;
}

#sct_menu ul li li:hover ul,
#sct_menu ul li li.hover ul{
	left:174px;
	top:0;
}

#sct_menu ul li li{
	padding:0;
	width:175px;
	border:1px solid #c88614;
	border-top:none
}

#sct_menu ul li li a{
	text-align:left;
	padding:0;
	width:171px;
	overflow:hidden
}

#sct_menu ul li ul li,
#sct_menu ul li:hover li a b,
#sct_menu ul li:hover li:hover li a b{
	margin:0;
	width:171px;
	padding-left:2px;
	background-position:0 -212px;	
}

#sct_side_ads{

    
	border-top:1px solid #131313;
	border-bottom:1px solid #131313;
	height:600px;
	width:100%;
	margin:0 0 -600px 0
}

#sct_side_ads div.fl,
#sct_side_ads div.fr{

	width:100%;
	overflow:hidden;
	height:1200px;
	margin-bottom:-1200px
}

#sct_side_ads div div.con{
 
	width:160px;
	height:1200px;
	margin-bottom:-1200px
}

#sct_side_ads div.fl div.con{

	float:left;
	margin:0 0 0 30px
}

#sct_side_ads div.fr div.con{
    float:right;
	margin:0 30px 0 0
}

#sct_featured_content{
	height:298px;
}

#sct_featured_content .con{
	background:url(../img/bg-slide-con.png) repeat 0 0 transparent;
}

#sct_featured_content .wrap{
	height:280px;
	width:950px;
	background:url(../img/bg-slide.png) repeat 0 0 transparent;
	padding:10px 8px 8px 8px;
}

#sct_featured_content .slides li{
	width:950px;
	height:280px;
	background:none;
	padding-left:0;
}

#sct_featured_content .slides img{
	height:280px;
	opacity:1.0 !important;
	filter:alpha(opacity=0) !important;
}

#sct_featured_content .slides li a{
	outline:none;
	border:none;
	text-decoration:none;
}

#sct_featured_content .slides li span{
	background:url(../img/slide/bg-shade.png) repeat-y top left;
	width:375px;
	height:280px;
	padding:0 0 0 80px;
	position:absolute;
	right:0;
	top:0;
	color:#fff;
	font:18px arial;
	text-decoration:none;
}

#sct_featured_content .slides li big{
	width:320px;
	height:220px;
	padding:20px 45px 40px 10px;
	background:#2c3033;
	display:block;
	font-size:12px;
	line-height:20px;
	color:#cacaca;
	text-align:justify
}

#sct_featured_content .slides li span b{
	font-family:arial;
	font-size:16px;
	font-style:normal;
	font-weight:normal;
	font-weight:600;
	line-height:22px;
	text-decoration:none;
	text-transform:none;
	display:block;
	color:#fff;
	padding:35px 0 0 0;
	margin:0 0 15px 0;
}

#sct_featured_content .shade{
	height:8px;
	background:url(../img/sprite.png) repeat-x 0 -94px;
	position:relative;
	z-index:2;
}

#sct_main{
	color:#955b5e
}

#sct_main a{
	color:#955b5e
}

#sct_main table{
	margin:.5em 0 1em;
}

#sct_main table td,
#sct_main table th{
	text-align:left;
	border-right:1px solid #fff;
	padding:.4em .8em;
}

#sct_main table th{
	background-color:#5e5e5e;
	color:#fff;
	text-transform:uppercase;
	font-weight:bold;
	border-bottom:1px solid #e8e1c8;
}

#sct_main table td{
	background-color:#eee;
	color:#333333
}

#sct_main table th a{
	color:#d6f325;
}

#sct_main table th a:hover{
	background:transparent;
	color:#fff;
}

#sct_main table tr.even td{
	background-color:#ddd;
}

#sct_main table tr:hover td{
	background-color:#fff;
}

#sct_main table.nostyle td,
#sct_main table.nostyle th,
#sct_main table.nostyle tr.even td,
#sct_main table.nostyle tr:hover td{
	border:0;
	background:none;
	background-color:transparent;
}

#sct_main .wrap{
	background:#ffffff;
	min-height:600px;
	padding:14px 8px 18px 8px;
	width:950px;
	margin-bottom:-7px;
}

#sct_main .page_nav{
	padding:8px 0 8px 0
}

#sct_main .page_nav a{
	font-weight:bold;
	display:block;
	width:120px;
	padding:8px 0;
	text-align:center;
	background:#dddee5;
	border:1px solid #bbbbc3
}

#sct_main .page_nav_lst{
	padding:5px 0 12px 0
}

#sct_main .shade{
	//background:url(../img/sprite.png) repeat-x 0 -324px;	
	height:7px
}

#sct_page{
	width:608px;
}

#sct_page.full{
	//width:100%;
	width:950px;
}

#sct_content{
	padding:0 0 8px 0;
}

#sct_content.post_list{
	padding:0
}

#sct_content.post_list .post_list{
	padding:8px;
	background:#eae7e8;
	//border:1px solid #e4e2e2;
	margin:0 0 8px 0
}

#sct_content.post_list .post_list img.wp-post-image{
	width:128px;
	height:128px;
	margin:0 7px 7px 0;
	float:left;
	display:block;
	//border:1px solid #cacaca
}

#sct_content.post_list .post_list .social{
	padding-top:0
}

#sct_content .social{
	padding:6px 0 8px 0;
}

#sct_content h1, 
#sct_content h2{
	margin:0 0 5px 0;
	padding:0 0 5px 0;
	border-bottom:1px dashed #d0d0d0;
}

#sct_content h1, 
#sct_content h2,
#sct_content h1 a, 
#sct_content h2 a{
	font-size:23px;
	color:#d88c12;
	font-weight:normal;
	text-shadow:#cacaca 1px 1px;
	text-decoration:none !important
}

#sct_content h1 a:hover, 
#sct_content h2 a:hover{
	color:#ff0000;
	text-decoration:none !important
}

#sct_content h2{
	padding-top:8px;
	font-size:20px;
}

#sct_content h2.title{
	padding:0 0 5px 0;	
	font-size:23px;
}

#sct_content .edit_link{
	background:#eae7e8;
	padding:8px;
	border:1px solid #7cd9ff;
	margin:0 0 8px 0
}

#sct_content ul{
	margin-bottom:15px !important
}

#sct_content img.alignleft{
	float:left;
	margin:0 4px 4px 0
}

#sct_content img.aligncenter{
	margin:0 auto
}

#sct_content img.alignright{
	float:right;
	margin:0 0 4px 4px
}

#sct_content .seo_area{
	display:none
}

.next_previous_links_comments{
	margin-top:10px;
	border-bottom:1px solid #DDD;
	background-color:#F5F5F5;
	padding:0 5px;
}

ol.commentlist{
	margin:0;
	padding:0;
	list-style:none;
}

ol.commentlist li{
	list-style-type:none;
	margin-bottom:10px;
	background-color:#F5F5F5;
	border:1px solid #DDD;
	padding:8px 8px 4px 8px;
	background:none
}

ol.commentlist li ul{
	list-style-type:none;
	margin-left:0px !important;
}

ol.commentlist li ul.children li{
	list-style:none !important;
	background-color:#FFF;
	display:block;
	font-size:11px;
}

ol.commentlist li ul.children li ul.children li{
	background-color:#F5F5F5;
}

ol.commentlist li div.comment_content{
	float:left;
	width:100%;
}

ol li div.comment_content div.commentmetadata{
	color:#999;
	border-bottom:1px solid #ddd;
	margin:0px 8px 5px;
}

ol li div.comment_content div.commentmetadata a{
	color:#bbb;
	text-decoration:none;
}

ol li div.comment_content p{
	padding:0 0 16px 6px;
}

ol li div.comment_content .reply{
	margin:8px;
}

strong.comment_author{
	font-size:125%;
}

strong.comment_author a{
	text-decoration:underline !important;
}

a#cancel-comment-reply-link{
	text-transform:uppercase;
	font-size:80%;
	margin-left:10px;
}

li #respond{
	padding:7px;
}

li #respond h2{
	display:none;
}

li.comment-author-admin{
	border:1px solid #BBBBBB !important; 
}

textarea#comment{
	width:99%;
	height:50px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px
}

input#comment{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px
}

#sct_widget_top h2, 
#sct_widget_content_top h2, 
#sct_widget_content_bottom h2{
	font-size:15px;
	margin:0 0 5px 0;
	padding:0 0 5px 0;
	color:#0b84ac;
	border-bottom:1px dashed #d0d0d0;
	text-shadow:#cacaca 0px 0px;
}

#sct_widget_top .widget, 
#sct_widget_content_top .widget, 
#sct_widget_content_bottom .widget, 
#sct_widget_right .widget{
	border:1px solid #d0d0d0;
	padding:8px;
	margin:0 0 8px 0
}

#sct_widget_top .widget{
	background:#ffffff;
}

#sct_widget_right{
	width:338px
}

#sct_widget_right h2{
	margin:-9px -9px 7px -9px;
	background:url(../img/sprite.png) repeat-x 0 -332px;
	height:33px;
	color:#fff;
	line-height:33px;
	padding:0 9px;
	font-size:15px;
}

#sct_widget_right .widget{
	background:#EEF2F7;
	border:1px solid #7cd9ff;
	margin:0 0 -1px 0
}

#sct_widget_log_in h2{
	display:none
}

#sct_widget_footer_area{
	background:url(../img/bg-slide-con.png);
}

#sct_widget_footer_area .wrap{
	padding:8px 8px 0 8px;
	width:950px;
	background:url(../img/bg-widget-footer.png);
}

#sct_widget_footer_area .shade{
	background:url(../img/sprite.png) repeat-x 0 -324px;	
	height:7px
}

#sct_widget_footer_area .wgt_col .widget{
	margin-bottom:8px;
}

#sct_widget_footer_area .wgt_col.col_lft_dbl{
	width:608px
}

#sct_widget_footer_area .wgt_col.col_lft,
#sct_widget_footer_area .wgt_col.col_rgt{
	width:318px
}

#sct_widget_footer_area .wgt_col.col_mdl{
	width:282px;
	margin-left:8px
}

#sct_widget_footer_area,
#sct_widget_footer_area a{
	color:#47494e	
}

#sct_widget_footer_area ul li{
	background:url(../img/bul-cross-2.png) no-repeat 0 5px;
}

#sct_widget_footer_area h2{
	font-size:18px;
	margin:0 0 5px 0;
	padding:0 0 5px 0;
	color:#cacaca;
	background:url(../img/bg-widget-footer-title-spr.jpg) repeat-x left bottom;
	font-family:"arial narrow",arial;
	letter-spacing:0;
}

#sct_footer{
	background:#000;
	color:#a8a0a0;
	line-height:22px;
	font-size:11px;
}

#sct_footer .wrap{
	padding:12px 0 12px 0
}

#sct_footer div.fl{
	width:550px;
}

#sct_footer div.fr{
	width:400px;
	text-align:right;
}

#sct_footer a{
	color:#d6d3d3;
	font-size:11px;
}

#sct_footer ul{
	padding:0;
	list-style:none;
}

#sct_footer ul li{
	float:left;
	border-right:1px solid #fff;
	padding:0 10px;
	line-height:12px;
	list-style:none;
	background:none
}

#sct_footer ul li a{
	font-size:12px;
}

#sct_footer_menu li:first-child{
	padding-left:0
}

#sct_footer_menu li:last-child{
	border:none
}

#sct_misc_menu li:last-child{
	padding-right:0;
	border:none
}

#sct_credit{
	float:left;
	width:250px
}

#TB_window{
	font-family:arial;
	font-size:12px
}

#TB_ajaxWindowTitle{
	padding:6px 8px 0;
	font-weight:bold
}

#TB_ajaxContent{
	padding:8px 0 8px 8px;
	margin:0 -4px 0 0;
}

#sct_ads_468_60{
	margin:-8px
}

#sct_ads_468_60 iframe{
	width:462px;
	height:60px;
	margin:0;
	padding:0;
	border:none
}

#disqus_thread li{
	background:none
}