.wpm_wid.mbr_log_in .wpm_frm label{
	width:30%
}

.wpm_wid.mbr_log_in .wpm_frm input.txt{
	width:60%;
	float:right;
}

.wpm_wid.mbr_log_in .wpm_frm input.btn{
	width:75px;
	float:right;
	margin:0;
	padding:0
}