/* Page - Manga Bookmark */

.wpm_pag.mng_bmk h1.ttl{
	margin-bottom:3px
}

.wpm_pag.mng_bmk li{
	line-height:14px
}

.wpm_pag.mng_bmk ul li:hover{
	background-color:#cacaca
}

.wpm_pag.mng_bmk ul li li:hover{
	background-color:#dadada
}

.wpm_pag.mng_bmk div.chk{
	float:right;
	margin:0;
	padding:1px 0 0 0;
	height:12px;
	width:18px;
}

.wpm_pag.mng_bmk div.chk input{
	margin:0;
	padding:0;
	border:1px solid #cacaca
}

.wpm_pag.mng_bmk b.dte{
	width:175px;
	float:right;
	display:block;
	font-weight:normal
}

.wpm_pag.mng_bmk a.ttl{
	width:300px;
	float:left;
	display:block;
	overflow:hidden;
}

/* Widget - Membership Detail */

.wpm_wid.mbs_det label{
	width:90px
}